.important {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.sub_title {
    font-weight: bold;
    font-size: 18px;
}

.dmx_img {
    width: 100%;
    margin-bottom: 20px;
}

.english {
    font-size: 15px;
    color: gray;
}

.first_box {
    height: 100%;
    width: 850px;
    background-color: skyblue;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    line-height: 35px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1E90FF, #3CB371);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider {
    width: 740px;
    height: 2px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    margin-left: 20px;
    list-style-type: disc;
}

.text {
    margin-bottom: 15px;
}

.content {
    font-size: 20px;
    font-weight: 400;
}

.content ul {
    margin-bottom: 15px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.just_red {
    color: red;
    margin-left: 1px;
    margin-right: 1px;
}

/* ---------------------------- */
img {
    margin: 5px;
    margin-left: 0px;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

th,
td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #f1f1f1;
}